@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
h1{font-size: 40px;font-weight: bold;}
h2{font-size: 32px;font-weight: bold;}
h4{font-size: 24px;font-weight: bold;}
h5{font-size: 20px;font-weight: bold;}
.container {
  max-width: 1236px;
  margin: 0 auto;
}
div#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
ul.topcenter {
  display: flex;
  column-gap: 50px;
}
ul.topright {
  display: flex;
  column-gap: 30px;
}
.subText {
  text-align: center;
  margin: 20px 0 25px 0;
}
.imgArea {
  display: flex;
  justify-content: space-between;
}
.productfea {
  text-align: center;
}
.productfea h4 {
  padding: 20px 0;
}
.op-content {
  background: #F4F5F7;
  padding: 20px 15px;
}
.op-list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.op-imgbox img {
  width: 100%;
}
.op-title {
  text-align: center;
  padding: 30px;
}
.op-prices {
  display: flex;
  justify-content: space-between;
}
.op-content p {
  color: #898989;
  margin: 10px 0;
  font-size: 16px;
}
.op-price-dis {
  color: #B0B0B0;
  text-decoration: line-through;
}
.dis-pin {
  background: #E97171;
  height: 48px;
  width: 48px;
  text-align: center;
  line-height: 48px;
  color: #fff;
  font-weight: bold;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 30px;
}
.op-imgbox {
  position: relative;
}
.ot-boxes {
  position: relative;
}
.ot-boxes:hover .op-over-box {opacity: 1;}
.op-over-box {
  background: #3a3a3ac7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0;
  transition: .4s;
}
.op-share-icons {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}
.op-share {
  display: flex;
  justify-content: space-between;
  max-width: 245px;
  margin: 0 auto;
  color: #fff;
}
button.op-ov-btn {
  background: #fff;
  padding: 15px 35px;
  color: #B88E2F;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.dis-pin.new-pin {
  background: #2ec1ac;
}
.FuniroFurniture-title {
  padding: 50px 0 20px 0;
  text-align: center;
}
.CarouselSizeBox {
  background: #FCF8F3;
  padding: 30px 0;
  margin: 50px 0;
}
.row-furniture {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  align-items: center;
}
.carouselContent-bx {
  position: absolute;
  bottom: 0;
  background: #ffffffc9;
  padding: 20px;
  left: 6%;
  bottom: 6%;
}
.footerpage {
  border-top: 1px solid #D9D9D9;
  margin-top: 60px;
  padding: 50px 0 20px 0;
}
.imgBox-carousel {
  position: relative;
}






/*FOOTER */
.foot-boxes {
  display: flex;
  justify-content: space-between;
}
.foot-content p {
  color: #9F9F9F;
}
.foot-content {
  margin: 40px 0;
}
.foot-links h6 {
  color: #9F9F9F;
}
.foot-right-content {
  border-top: 1px solid #D9D9D9;
  padding-top: 20px;
}
.foot-input input[type="text"] {
  border-bottom: 1px solid #000;
  padding: 2px;
  margin-right: 8px;
}
.foot-input input[type="text"]:focus {
  border: 0px;
  outline: 0px;
  border-bottom: 1px solid;
}
/* end footer */